@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CircularStd";
  src: url("/fonts/CircularStd-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "sf-pro-text-light";
  src: url("/fonts/sf-pro-text-light.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "CircularStd", "Inter", sans-serif;
  background-color: white;
}
